@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #18e299;
  --secondary: #90ecc5;
  --tertiary: #08090b;
}
.logo {
  /* border: 2px solid red; */
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  /* border: 2px solid blue; */

  /* Initial transparent state */
  background-color: transparent;
  backdrop-filter: none;

  /* Scroll Animation */
  animation: header-scroll linear forwards;
  animation-timeline: scroll();
  animation-range: 0vh 10vh;
}

@keyframes header-scroll {
  to {
    backdrop-filter: blur(16px);
    background-color: #ffffff16;
  }
}
nav {
  margin: 0 auto;
  width: 80%;

  /* Layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

nav ul {
  display: flex;
  /* border: 2px solid red; */
  justify-content: space-between;
  list-style: none;
  padding: 1rem 0;
}

nav ul li a {
  font-size: 0.9rem;
  font-weight: 500;
  transition: color 0.2s;
}

nav ul li a {
  color: var(--tertiary);
  text-decoration: none;
  /* transition: background-color 1s; */
  padding: 12px 10px;
  border-radius: 20px;
}
nav ul li a:hover {
  background-color: #ffffff2e;
}

/* Action Buttons */
.nav-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn-login {
  font-size: 0.9rem;
  font-weight: 500;
}

.btn-primary {
  background-color: #ffffff;
  color: var(--tertiary);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 18px;
  font-size: 0.9rem;
  font-weight: 500;
}
.btn-secondary {
  background-color: #ffffff16;
  color: var(--tertiary);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 18px;
  font-size: 0.9rem;
}

.bgimg {
  background-image: url("/images/banner/bg-light.svg");
  height: 120vh;
  width: 100%;
  margin-top: -110px;
  background-repeat: no-repeat;
  background-size: cover;
}
